.card {
  width: 300px;
  height: 420px;
  padding-inline: 1.85rem;
  background-color: $gray;
  border-radius: $base-border-radius;
  @extend %align-center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &-headling {
    font-family: $secondary-font-family;
    font-weight: $font-bold;
  }

  &-text {
    margin-block: 1.2rem;
  }

  &-btn {
    color: $white;
    background-color: $black;
  }
}