// W tym przypadku dla przycisków (button) i kart (card) przyjęłam stałe szerokości i wysokości w px, 
// aby jak najlepiej odzwierciedlić wygląd danej stronki.

@import "variables";
@import "navbar";
@import "card";

%align-center {
  display: flex;
  align-items: center;
}

%grid {
  display: grid;
  gap: 2rem;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.3s linear;
}

h1 {
  font-size: $font-size-xl;
  font-weight: 700;
}

h2 {
  font-size: $font-size-lg;
  font-weight: 700;
}

a {
  font-family: $secondary-font-family;
  font-weight: 700;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

button {
  width: 163px;
  height: 45px;
  font-size: $font-size-sm;
  @extend %align-center;
  justify-content: center;
  font-family: $secondary-font-family;
  font-weight: 700;
  border-radius: $base-border-radius;
  cursor: pointer;
}

button:hover {
  background-color: $hover;
}

header,
section {
  margin-inline: auto;
  width: min(90%, 90rem);
}

.text-img {
  @extend %grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 9rem;

  .text {
    text-align: center;

    .headling {
      margin-bottom: 1.25rem;
    }
  }

  .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.cards {
  @extend %align-center;
  justify-content: space-between;
  margin-block: 9rem 12rem;
}

footer {
  height: 60px;
  background-color: $gray;
  @extend %align-center;
  justify-content: center;

  p {
    font-weight: 500;
  }
}

@media (max-width: 1200px) {
  .cards {
    flex-direction: column;
    gap: 2.5rem;
    margin-block: 6rem;
  }
}

@media (max-width: 920px) {
  .text-img {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 6rem;

    .headling {
      font-size: 1.5rem;
    }
  }
}
